@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --caramel: #d1884f;
  --ocean-blue: #008aaa;
  --sky-blue: #3bbadb;
}

body {
  height: 100%;
  margin: 0;
  padding: 30px;
}
.MainHeader {
  background-color: white;
  color: white;
  padding: 10px;
  text-align: right;
}

.HeaderNav {
  display: flex;
  justify-content: flex-end;
}

.NavList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.NavList a {
  color: black;
  text-decoration: none;
}

.NavList li {
  display: inline-block;
  margin-left: 20px;
}

.NavList .NavItem-1 a {
  color: var(--caramel);
}

.NavList .NavItem-2 a {
  color: black;
}

.NavList .NavItem-3 a {
  color: black;
}

.NavItem-3 i {
  transform: rotateY(180deg);
}
.MainSection {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: white;
  margin-top: 20px;
}

.ParentLeftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 60%;
}

.LeftSection-1 h3 {
  color: var(--sky-blue);
  margin: 0;
}
.LeftSection-2 {
  margin-top: 20px;
  width: 100%;
}

.LeftSection-2 h1 {
  display: inline-block;
  color: var(--ocean-blue);
  margin: 0;
  font-size: 30px;
}
.LeftSection-2 .developer-text {
  color: var(--caramel);
}
.LeftSection-3 p {
  text-align: justify;
  text-align-last: left;
  hyphens: auto;
  color: black;
}
.LeftSection-3 a {
  color: var(--sky-blue);
}

.btn-1 {
  background-color: var(--ocean-blue);
}

.LeftSection-4 button {
  cursor: pointer;
  border-radius: 5px;
  height: 25px;
  text-align: center;
}

.LeftSection-4 .btn-1 {
  border: 1px solid var(--ocean-blue);
  color: white;
}

.LeftSection-4 .btn-2 {
  background-color: white;
  border: 1px solid var(--sky-blue);
  color: var(--sky-blue);
}

.RightSection {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.RightSection div {
  border-bottom-left-radius: 60px;
}

.Shape-1 {
  margin-top: 10%;
  background-color: var(--sky-blue);
  height: 90%;
  width: 100%;
  position: relative;
}

.Shape-2 {
  margin-left: 10px;
  background-color: var(--caramel);
  height: 100%;
  width: 100%;
  position: absolute;
}
.Shape-2 .ProfileImage {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-bottom-left-radius: 60px;
}
